/* Configurações gerais da página: fundo e alinhamento */
  
  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #d9d9d9;
    height: 100vh;
    flex-direction: column;
   
  }
  
  .campo{

    background-color: #f9f9f9;
    width:700px;
    height: 95%;
    margin-top: 35px;
    border-radius: 25px;
    color:  #929292;
  }
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 10px;
    margin: auto;
  }
  
  .corpo .checkbox {
    font-weight: 400;
  }
  
  .campo input[type="textbox"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .campo input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .campo input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
  .campo input[type="text"], .campo input[type="email"], .campo input[type="password"] {
    padding: 0.1em;
    display: block;
    width: 100%;
}

.head_doacoes {
  background-color: #ededed;
  border-radius: 25px 25px 0px 0px;
  width: 50%;
  height: 8vh;
  display: flex;
  align-items: center;
  
}
.head_doacoes h1{
  
  padding-left: 34px;
  padding-top: 17px;
}
